@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/*  */

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: url("asset/pexels-photo-2680270.webp");
  /* animation: fadeIn 1.5s ease-in-out;
  transition: transform 0.3s ease-in-out; */
}

.container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

.logo {
  width: 50%;
  height: 50%;
  object-fit: contain;
  border: black;
  border-style: solid;
  border-color: rgb(19, 155, 209);
  margin-top: 2rem;
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section_cont img {
  object-fit: contain;
  width: 11rem;
  height: 11rem;
}
header h1 {
  font-size: 2.4rem;
  background: linear-gradient(45deg, #064faf, #08cddb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-top: 1rem;

  line-height: 33px;
}
header h1 span {
  font-size: 1.7rem;
  color: rgb(23, 7, 116);
  font-weight: bold;
}
header p {
  font-weight: 400;
  font-size: 8.2px;
  background: linear-gradient(45deg, #020a4b, #db089c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro {
  margin-top: 1rem;
}
.intro p {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 300;

  margin-bottom: 1rem;
}

.second {
  margin-top: 1rem;
}
.second h1 {
  color: rgb(17, 72, 226);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 12px;
  background: linear-gradient(45deg, #020a4b, #db089c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.second p {
  margin: 1rem;
  font-weight: 600;
  font-size: 18px;
}
.second .message p {
  font-size: 14px;
  font-weight: 300;
}
.second .advert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second .advert p {
  font-size: 16px;
  font-weight: 300;
}

.advert .success {
  color: green;
  font-weight: 600;
}
.advert .fail {
  color: red;
  font-weight: 600;
}
.advert .neutral {
  color: brown;
  font-weight: 600;
}

.cta-button {
  display: inline-block;
  padding: 15px 25px;
  background: #fff;
  color: #ff6600;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
}

.cta-button:hover {
  background: #ffd9b3;
}

.features {
  padding: 40px 20px;
  background: #fff;
}

.features h2 {
  color: #ff6600;
}

.features ul {
  list-style-type: none;
  padding: 0;
}

.features li {
  font-size: 1.2em;
  margin: 10px 0;
}

.testimonials {
  background: #f5f3f3;
  padding: 20px 10px;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.testimonial-slider {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  background: linear-gradient(to right, #c20855, #6610f2);
}

.testimonial-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial {
  min-width: 100%;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial a {
  margin-top: 1rem;
  border: black 2px solid;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: white;

  color: black;
}
.testimonial p {
  font-size: 16px;
}
.testimonials h2 {
  text-transform: uppercase;
  color: rgb(17, 72, 226);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 10px;
  background: linear-gradient(45deg, #020a4b, #db089c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  margin-bottom: 1.5rem;
}
.testimonial a:hover {
  background: rgb(233, 229, 229);
}

button {
  background: #ff6600;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.cta {
  background: #ff6600;
  color: white;
  padding: 40px 20px;
}

footer {
  background: #333;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.containers {
  max-width: 600px;

  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  margin-bottom: 2rem;
}

/* Header */
.containers h1 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(45deg, #541fce, #e93f10);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.containers .picture img {
  border-radius: 1rem;
  margin-top: 1rem;
}

/* Paragraph */
p {
  font-size: 12px;
  line-height: 1.6;
  font-weight: 300;
}

/* Highlighted Text */
span.highlight {
  color: #190ae2;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(128, 121, 27, 0.8);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.testimonials .story h3 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(45deg, #541fce, #e93f10);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.testimonials .story p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 1rem;
}

.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin-bottom: 1.5rem;
}

.offer-content {
  border-radius: 15px;
  padding: 1rem;

  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.warning,
.hot,
.alert,
.note,
.final-chance,
.price-info {
  margin: 1rem 0;
  line-height: 1.5;
}

.warning {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ff4c4c;
}

.hot {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ff9f00;
}

.alert {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffeb3b;
}

.note {
  font-size: 1rem;
  font-weight: 300;
  color: #464444;
}

.final-chance {
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffeb3b;
}

.price {
  color: #00e676;
  font-weight: 700;
}

.offer-content p {
  margin-bottom: 1rem;
}

.offer-content h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: #00e5ff;
}

.offer-content ul {
  list-style: disc;
  margin-left: 1.5rem;
  text-align: left;
}

.cta-button {
  display: inline-block;
  background: linear-gradient(45deg, #ff8a00, #e52e71);
  color: #fff;
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 50px;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 1rem 0;
  font-size: 16px;
}

.cta-button:hover {
  background-color: #c20855;
}

.offer-container hr {
  border: none;
  border-top: 1px solid #444;
  margin: 2rem 0;
}

.conclusion {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  color: #242222;
}

li {
  margin-bottom: 4px;
  font-size: 15px;
}
